.Title-Filter {
  margin: 20px;
}

.ProductList-FilterContainer {
  display: flex;
  justify-content: space-between;
}

.Text-Filter {
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
}

.ProductList-Filter {
  margin: 20px;
}

.ProductList-Select {
  padding: 10px;
  margin-right: 20px;
}
