.ProducItem-Container {
  flex: 1;
  margin: 5px;
  min-width: 280px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 0.5px solid black;
  border-radius: 2px;
}

.ProductItem-Circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ProductImg {
  height: 70%;
}

.ProductItem-Info {
  opacity: 0;
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}
.ProductItem-Info:hover {
  opacity: 1;
}

.ProductItem-Icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.ProductItem-Icon:hover {
  background-color: white;
  transform: scale(1.1);
}

.ProductItem-Name {
  margin-top: 10px;
  top: 0;
  position: absolute;
  color: white;
}
