.navbar-container {
  height: 60px;
  background-color: white;
}

.navbar-wrapper {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-left {
  flex: 1;
  display: flex;
  align-items: center;
}

.navbar-Language {
  font-size: 14px;
  cursor: pointer;
}

.SearchContainer {
  border-radius: 5px;
  border: 0.5px solid #474747;
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 5px;
}

.SearchInput {
  border: none;
  background-color: #f6f6f6;
  transition: all 0.2s ease-in;
}
.SearchInput:focus {
  background-color: #e7e7e7;
  border-radius: 5px;
  outline: none;
}

.SearchIcon {
  color: "gray";
  font-size: 15px;
}
.navbar-center {
  flex: 1;
  text-align: center;
}

.navbar-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.LinkItem {
  text-decoration: none;
  color: black;
}
.navbar-User {
  display: flex;
}
.MenuItem {
  cursor: pointer;
  margin-left: 30px;
}
.BtnLogOut {
  border: none;
  height: 30px;
  cursor: pointer;
  background-color: rgb(77, 45, 68);
  color: white;
  border-radius: 5px;
}
.BtnLogOut:hover {
  background-color: rgb(134, 71, 115);
}

@media only screen and (max-width: 380px) {
  .navbar-container {
    height: 50px;
  }
  .navbar-wrapper {
    padding: 10px 0px;
  }
  .navbar-Language {
    display: none;
  }
  .SearchInput {
    width: 40px;
  }
  .Logo {
    font-size: 24px;
  }
  .navbar-right {
    justify-content: center;
    flex: 2;

    margin-right: 2px;
  }
  .LinkItem {
    font-size: 13px;
    display: inline-block;
  }
  .BtnLogOut {
    height: 15px;
    font-size: 12px;
  }
}
